nav {
    .logo {
        width: 28px;
        height: 28px;
        background-color: white;
        border-radius: 50%;
        background: radial-gradient(circle at 30% 30%, #ffffff, #747474);
        margin: 0 8px;
    }

    h1 {
        font-style: italic;
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }
}

#biografia, #weddings, #drone, #family {
    text-align: center;
}

.card-service {
    margin-bottom: 3rem;
}