body {
    font-family: 'Georama', sans-serif;
    background: linear-gradient(135deg, #ffffff, antiquewhite);
    color: #333;
}

#introducao h1,
#biografia h1,
#servicos h1,
#contacto h1 {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    transition: 0.3s ease-in-out;
}

#biografia h1:hover,
#servicos h1:hover,
#contacto h1:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

#biografia p,
#servicos p {
    text-align: justify;
}

#biografia,
#weddings,
#drone,
#family {
    text-align: center;
}

/* INTRODUÇÃO */

#pequena_introducao {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 1rem;
    background: #f7f7f7;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

#pequena_introducao:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

#introducao {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#introducao h1:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
}

#introducao p {
    text-align: center;
}

#introducao img {
    width: 100%;
    aspect-ratio: 1;
    margin: 1.5rem auto;
    /* max-width: 600px; */
    object-fit: cover;
    border: 0.25rem solid #1a1a1a;
    border-radius: 25rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

#introducao img:hover {
    transform: translateY(-1rem);
    transition: 0.5s ease-in-out;
}

/* SOBRE MIM */

#biografia {
    background-image: url('https://i0.hippopx.com/photos/852/242/499/landscape-black-and-white-nature-mountain-703d1c7abd33b4d2acc482d465d76296.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#biografia .card {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: 0.5s ease-in-out;
}

#biografia .card:hover {
    transform:scale(1.1);
    transition: 0.5s ease-in-out;
}

/* CARDS DE SERVIÇOS */

.card {
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-1rem);
    transition: 0.5s ease-in-out;
}

.card-service {
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.card-title {
    font-weight: bold;
    color: #0f0f0f;
    font-size: 1.3rem;
}

.card-text {
    font-size: 0.9rem;
    text-align: justify;
}

/* FORM */

#contacto {
    background-image: url('https://i0.hippopx.com/photos/802/350/397/manhattan-new-york-city-new-york-city-4504a69737d72c9e207d4d222bdef546.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: solid 2px #0000003d;
    transition: 0.3s ease-in-out;
}

form:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

form input,
form textarea,
form button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
}

form button {
    background: linear-gradient(45deg, #0f0f0f, #555555);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: antiquewhite;
    color: #333;
}